body{
    font-family: Arial, sans-serif;
    margin: 20px;
}
.cadre {
  max-width: 800px;              
  background-color: white;
  padding: 30px 40px;
  border: 2px solid #333; 
  border-radius: 8px;  
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}S
.p1{
    font-size: 20px;
    color: green;
}
.h3{
    font-size: 18px;
    color: blue;
}